<% @teams.each do |team| %>
  <p><strong><%= team.name %></strong></p>
  <p><strong><%= team.password %></strong></p>
  <p><strong><%= team.phone %></strong></p>
  <p><strong><%= team.payed %></strong></p>
  <p><strong><%= team.player1_name %></strong></p>
  <p><strong><%= team.player2_name %></strong></p>
  <p><strong><%= team.player3_name %></strong></p>
  <p><strong><%= team.player4_name %></strong></p>
<% end %>
