<h1>Požádat o nápovědu</h1>

<% unsolved_visits = current_team.visits.where(solved_at: [nil]) %>
<% if not unsolved_visits.empty? %>
  <% unsolved_puzzles = unsolved_visits.map{ |v| [v.puzzle.full_name, v.puzzle.code]} %>

  <%= form_for @hint_request, url: {action: 'create'} do |form| %>
    <%= fields_for :puzzle, @hint_request.puzzle do |puzzle_fields| %>
      <div class="select">
        <%= puzzle_fields.label :code, 'Název šifry'%><br>
        <%= puzzle_fields.select :code, unsolved_puzzles %>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :note, 'Poznámka' %><br>
      <%= form.text_field :note %>
    </div>

    <div class="field">
      <%= form.label :bounty, 'Odměna' %><br>
      <%= form.number_field :bounty, min: 1 %>
    </div>

    <div class="actions">
      <%= form.submit 'Odeslat' %>
    </div>
  <% end %>
<% else %>
  Nemáte žádnou vyzvednutou ale nevyluštěnou šifru.
<% end %>
