<h1>Žádost o nápovědu</h1>

<%= form_for @hint_request, url: {action: 'create'} do |form| %>
  <%= fields_for :puzzle, @hint_request.puzzle do |puzzle_fields| %>
    <div class="field">
      <%= puzzle_fields.label :code, 'Kód stanoviště' %><br>
      <%= puzzle_fields.text_field :code %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :note, 'Poznámka' %><br>
    <%= form.text_field :note %>
  </div>

  <div class="field">
    <%= form.label :bounty, 'Odměna' %><br>
    <%= form.number_field :bounty, min: 1 %>
  </div>

  <div class="actions">
    <%= form.submit 'Odeslat' %>
  </div>
<% end %>
