<h1>Napovídání jiným týmům</h1>
<h2>Aktivní žádosti o nápovědu</h2>
<% if not @hint_requests.empty? %>
  <table class="table">
    <tr>
      <th>Šifra</th>
      <th>Odměna</th>
      <th>Poznámka</th>
      <th>Nápověda</th>
    </tr>
    <% @hint_requests.each do |hint_request| %>
      <%# Active are the ones with no opeded hint, or no hints from us! %>
      <% no_opened = (hint_request.hints.where(opened: nil).count == hint_request.hints.count)  %>
      <% from_us = hint_request.hints.where(team_id: current_team.id).count %>
      <%# Also check we haven't send any hint to this team for this puzzle! And  %>
      <% no_hint_to_this_team = true %>
      <% hinted_count = 0 %>
      <% @hints_from_me.each do |hint| %>
        <% if hint.opened == true && hint.hint_request.puzzle == hint_request.puzzle %>
          <% if hint.hint_request.team == hint_request.team %>
            <% no_hint_to_this_team = false %>
          <% end %>
            <% hinted_count += 1 %>
        <% end %>
      <% end %>
      <% if no_opened && from_us < 1 && no_hint_to_this_team && hinted_count < 2 %>
        <%# Check if we have solved this puzzle! %>
        <% have_visit = current_team.visits.find_by(puzzle_id: hint_request.puzzle.id) %>
        <% if have_visit and have_visit.solved? %>
          <tr>
            <td><%= hint_request.puzzle.full_name %></td>
            <td><%= t(:ocoins, count: hint_request.bounty) %></td>
            <td><%= hint_request.note %></td>
            <td>
              <%= link_to 'Poslat nápovědu', answer_hint_request_path(hint_request) %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>
  <h2>Dříve odeslané nápovědy</h2>
  <table class="table">
    <tr>
      <th>Šifra</th>
      <th>Odměna</th>
      <th>Poznámka</th>
      <th>Nápověda</th>
      <th>Status</th>
    </tr>
    <% @hints_from_me.each do |hint| %>
      <%# Find hints from us! %>
        <% if hint %>
          <% if hint.opened == true %>
            <% if hint.rating %>
              <% status = 'Ohodnocena: %.0f' % hint.rating %>
            <% else %>
              <% status = 'Otevřena' %>
            <% end %>
          <% else %>
          <% if hint.hint_request.hints.where(opened: true).count > 0 %>
            <% status = 'Nebyla vybrána' %>
          <% else %>
            <% if hint.hint_request.cancelled == false %>
              <% status = 'Čeká na otevření' %>
            <% else %>
              <% status = 'Žádost zrušena' %>
            <% end %>
          <% end %>
        <% end %>
          <tr>
            <td><%= hint.hint_request.puzzle.full_name %></td>
            <td><%= t(:ocoins, count: hint.hint_request.bounty) %></td>
            <td><%= hint.hint_request.note %></td>
            <td><%= hint.text %></td>
            <td><%= status %></td>
          </tr>
        <% %>
      <% end %>
    <% end %>
  </table>
<% end %>
