<h2>Registrace</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name, 'Název týmu' %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password, 'Heslo' %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Heslo znovu' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <% for player in ['player1', 'player2', 'player3', 'player4'] %>
    <div class="field">
     <%= f.label "#{player}_name".to_sym, 'Jméno hráče' %><br />
      <%= f.text_field "#{player}_name".to_sym, value: player %>
    </div>

    <div class="field">
      <%= f.label "#{player}_email".to_sym, 'E-mail' %><br />
      <%= f.email_field "#{player}_email".to_sym, value: "#{player}@example.com" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
