<h1>Odeslat nápovědu</h1>

<%= form_for @hint, url: {action: 'create'} do |form| %>
  <%= form.hidden_field :hint_request_id, value: params[:id] %>
  <div class="field">
    <%= form.label :text, 'Text nápovědy' %><br>
    <%= text_field_tag 'text', nil, :maxlength => 20, :size => 20 %>
  </div>

  <div class="actions">
    <%= form.submit 'Odeslat' %>
  </div>
<% end %>
