<h1>Odeslat řešení šifry</h1>

<%= form_for @answer, url: {action: 'create'} do |form| %>
  <%= fields_for :puzzle, @answer.puzzle do |puzzle_fields| %>
    <div class="field">
      <%= puzzle_fields.label :code, 'Kód stanoviště'%><br>
      <%= puzzle_fields.text_field :code %></td>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text, 'Řešení' %><br>
    <%= form.text_field :text %>
  </div>

  <div class="actions">
    <%= form.submit 'Odeslat' %>
  </div>
<% end %>
