<h1>OCoinové konto</h1>

<p>Stav konta: <%= @points %></p>

<h2>Historie transakcí</h2>
  <table class="table">
    <tr>
      <th>Čas</th>
      <th>Změna</th>
      <th>Zůstatek</th>
      <th>Popis</th>
    </tr>
<% @ot.reverse.each do |t| %>
  <tr>
  <td><%= t[0] %></td>
  <td><%= t[1] %></td>
  <td><%= t[2] %></td>
  <td><%= t[3] %></td>
  </tr>
<% end %>
</table>
