<!DOCTYPE html>
<html>
  <head>
    <title>iKolečko</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="outer">
      <div class="logo">
        <%= link_to image_tag('logo.png'), root_path %>
      </div>
      <div class="main">
        <div class="menu">
          <ul>
            <% if team_signed_in? %>
              <li><%= link_to t(:visits), visits_path %></li>
              <li><%= link_to t(:new_visit), new_visit_path %></li>
              <li><%= link_to t(:new_answer), new_answer_path %></li>
              <li><%= link_to t(:my_answers), answers_path %></li>
              <li><%= link_to t(:log_out), destroy_team_session_path, method: :delete %></li>
              <li><%= link_to t(:hints), hint_requests_path %></li>
            <% else %>
              <li><%= link_to t(:log_in), new_team_session_path %></li>
              <li><%= link_to t(:sign_up), new_team_registration_path %></li>
            <% end %>
            <li><%= link_to t(:rules), rules_path %></li>
            <li><%= link_to t(:teams), teams_path %></li>
            <li><%= link_to t(:puzzles_and_solutions), puzzles_path %></li>
            <li><%= link_to t(:results), results_path %></li>
          </ul>
        </div>
        <div class="content">
          <%= render_flash(:alert) %>
          <%= render_flash(:success) %>
          <%= render_flash(:notice) %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
