<!DOCTYPE html>
<html>
  <head>
    <title>iKolečko</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
      <div class="header">
        <i class="hamburger fa fa-bars"></i>
        <!--<%= link_to image_tag('logo.png'), root_path %>-->
      </div>
    <div class="menu closed">
      <ul class="main-menu">
        <% if team_signed_in? %>
          <%= submenu(t(:visits), 'map-signs') do %>
            <%= submenu_item(t(:new_visit), new_visit_path) %>
            <%= submenu_item('Příchody a odchody', visits_path) %>
          <% end %>
          <%= submenu('Odpovědi', 'comment') do %>
            <%= submenu_item(t(:new_answer), new_answer_path) %>
            <%= submenu_item(t(:my_answers), answers_path) %>
          <% end %>
          <%= submenu(t(:hints), 'question-circle') do %>
            <%= submenu_item('Požádat o nápovědu', new_hint_request_path) %>
            <%= submenu_item('Přijaté nápovědy', hint_requests_path) %>
            <%= submenu_item('Poslat nápovědu jinému týmu', queue_hint_requests_path) %>
          <% end %>
          <%= menu_item(t(:map), map_path, 'map') %>
          <%= menu_item(t(:teams), teams_path, 'users') %>
        <% else %>
          <%= menu_item(t(:log_in), new_team_session_path, 'sign-in') %>
          <%= menu_item(t(:sign_up), new_team_registration_path, 'user-plus') %>
        <% end %>
        <%= menu_item(t(:rules), rules_path, 'gavel') %>
        <%= menu_item(t(:puzzles_and_solutions), puzzles_path, 'puzzle-piece') %>
        <%= menu_item(t(:results), results_path, 'trophy') %>
        <%= submenu('KoleCZko 2018', 'history') do %>
          <%= submenu_item(t(:teams), archive_teams_path('2018')) %>
          <%= submenu_item(t(:results), archive_results_path('2018')) %>
          <%= submenu_item(t(:rules), archive_rules_path('2018')) %>
          <%= submenu_item(t(:puzzles_and_solutions), archive_puzzles_path('2018')) %>
        <% end %>
        <% if team_signed_in? %>
          <%= menu_item(t(:log_out), destroy_team_session_path, 'sign-out', method: :delete) %>
        <% end %>
      </ul>
    </div>
    <div class="main" id="main">
      <%= render_flash(:alert) %>
      <%= render_flash(:success) %>
      <%= render_flash(:notice) %>
      <%= yield %>
    </div>
  </body>
</html>
