<h1>Šifry a řešení</h1>
<% @puzzles.each do |puzzle| %>
  <h2><%= puzzle.name %></h2>
  <p><em>Kód stanoviště: <%= puzzle.code %></em><br>
  <em>Body za vyzvednutí: <%= puzzle.points %></em><br>
  <em>Otevírá: <%= puzzle.opens_at %></em><br>
  <em>Zavírá: <%= puzzle.closes_at %></em><br>
  <em>Řešení:
  <% puzzle.solutions.each do |s| %>
    <%= s.text %>,
  <% end %>
  <br>
</p>
<% end %>
