<h1>Šifry a řešení</h1>
<% if @final_puzzle %>
  <h2>Cílová šifra</h2>
    <h3><%= @final_puzzle.name %></h3>
    <em>Poloha: <%= @final_puzzle.latitude %>N <%= @final_puzzle.longitude %>E </em><br>
    <em>Popis umístění: <%= @final_puzzle.place %></em>
</p>
<% end %>

<% if @unlocked_main_puzzles.any? %>
<h2>Hlavní šifry</h2>
<% @unlocked_main_puzzles.each do |puzzle| %>
  <h3><%= puzzle.name %></h3>
  <p>
  <em>Poloha: <%= puzzle.latitude %>N <%= puzzle.longitude %>E </em><br>
  <em>Popis umístění: <%= puzzle.place %></em>
</p>
<% end %>
<% end %>

<h2>Vedlejší šifry</h2>
<% @secondary_puzzles.each do |puzzle| %>
  <h3><%= puzzle.name %></h3>
  <p>
  <% if puzzle.opens_at < Time.now && puzzle.closes_at > Time.now %>
    <em>Poloha: <%= puzzle.latitude %>N <%= puzzle.longitude %>E</em><br>
    <em>Popis umístění: <%= puzzle.place %></em><br>
  <% end %>
  <em>Body za vyzvednutí: <%= puzzle.points %></em><br>
  <em>Otevírá: <%= puzzle.opens_at.strftime("%d.%m. %H:%M:%S") %></em><br>
  <em>Zavírá: <%= puzzle.closes_at.strftime("%d.%m. %H:%M:%S")%></em><br>
  <em>Body za řešení:
  <% puzzle.solutions.each do |s| %>
    <% if s != puzzle.solutions.first %>
      ,
    <% end %>
    <%= s.points %>
  <% end %>
  <br>
</p>
<% end %>
